* {
    padding: 0;
    margin: 0;
    font-family: 'Mochiy Pop One', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gay-question {
    margin-top: 200px;
    width: 840px;
    height: 180px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.buttons {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

#yes-btn {
    width: 240px;
    height: 70px;
    background-color: black;
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    border-radius: 10px;
} 

#yes-btn:hover {
    cursor: pointer;
}

#no-btn {
    position: absolute;
    left: 750px;
    z-index: 1;
    width: 240px;
    height: 70px;
    background-color: black;
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    border-radius: 10px;
}

#no-btn:hover {
    cursor: pointer;
}

#suspicious-img {
    position: absolute;
    top: 80px;
    left: 850px;
    visibility: hidden;
}

#suspicious-para {
    position: absolute;
    bottom: 5px;
    font-size: 30px;
    visibility: hidden;
}