* {
    padding: 0;
    margin: 0;
    font-family: 'Mochiy Pop One', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading {
    margin-top: 30px;
    width: 550px;
    height: 120px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#yes-no {
    width: 840px;
    height: 150px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#dare-para {
    width: 700px;
    height: 150px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#lets-go-btn {
    margin-top: 10px;
    width: 240px;
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

#lets-go-btn:hover {
    cursor: pointer;
}